<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackFood</title>
</head>
<body style="background-image: url(https://static.vecteezy.com/system/resources/previews/015/710/948/non_2x/abstract-background-texture-art-orange-and-yellow-colors-watercolor-painting-on-canvas-with-soft-red-gradient-free-vector.jpg); background-size: cover; background-position: center; min-height: 100vh;">
  <%- include('navbar.ejs') %>
      <div class="container d-flex justify-content-center align-items-center">
        <div class="card" style="width: 520px; text-align: center; justify-content: center; display: flex; margin-top: 18px;">
            <img src="https://pbs.twimg.com/media/GoFYsuraoAAGQ1L?format=jpg&name=medium" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hackfood</h5>
              <p class="card-text">Jl. Sultan Iskandar Muda No.7, RT.5/RW.9, Kby. Lama Sel., Kec. Kby. Lama, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12240</p>
              <p class="card-text">021 80870712</p>
            </div>
          </div>
      </div>
      <div class="container-qr d-flex flex-column justify-content-center align-items-center" style="margin-top: 20px; margin-bottom: 100px;">
        <img style="width: 300px;" src="<%= qr %>" alt="QR Code">
        <h3 style="margin-top: 20px;">Follow Our Instagram!</h3>
      </div>

    <%- include('link.ejs') %>
</body>
</html>