<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HackFood</title>
</head>
<body style="background-image: url(https://static.vecteezy.com/system/resources/previews/015/710/948/non_2x/abstract-background-texture-art-orange-and-yellow-colors-watercolor-painting-on-canvas-with-soft-red-gradient-free-vector.jpg); background-size: cover; background-position: center; min-height: 100vh;">
    <%- include('navbar') %>
    <div class="container d-flex justify-content-center align-items-center text-center" style="min-height: 100vh;">
      <div>
        <h1>You just finished your payment</h1>
        <h3>Want to explore more menu?</h3>
        <a href="/" class="btn btn-warning mt-3">Continue Order</a>
      </div>
    </div>

    <%- include('link.ejs') %>
</body>
</html>